@model KotletkaShop.Models.Collection

@{
    ViewData["Title"] = Model.Title;
}

<h4>@Html.DisplayFor(model => model.Title)</h4>

@foreach (Product product in Model.Products)
{
    <p>@product.Title</p>
}