@model IEnumerable<KotletkaShop.Models.Collection>
@{
    ViewData["Title"] = "Все коллекции"; @*LOCALIZE*@
}

<h2>Все коллекции</h2> @*LOCALIZE*@

<div class="grid">
    <div class="table">
        @foreach (Collection collection in Model)
        {
            if (collection.Published)
            {
                <a class="row" asp-area="" asp-controller="Collection" asp-action="Collection" asp-route-id="@collection.CollectionID">
                    <div class="cell">
                        <img src="@collection.Image.Path" alt="@collection.Image.AltText" class="admin-thumbnail" />
                    </div>
                    <div class="cell">
                        @Html.DisplayFor(modelItem => collection.Title)
                    </div>
                </a>
            }
        }
    </div>
</div>